
body {
  margin: 0em;
}

.cover {
  height: 200px;
  background-image: url(https://i.imgur.com/CrKLCCx.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
}

.logo{
  font-family: 'Oswald', sans-serif;
  color: white;
  width: 525px;
  margin: 0;
}
