/* CSS files add styling rules to your content */

body {
  margin: 0;
  width: 100%;
  height:100%;
}

.imagen {
  height: 250px;
  width: auto;
  background-image: url(https://i.imgur.com/CrKLCCx.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: "Oswald", sans-serif;
  color: white;
  width: 525px;
}

.logo p {
  margin: 0;
}

header{
  background:#212529;
}

.navegacion{
  margin:auto;
  width:81.4%;
  display:flex;
  justify-content:flex-end;
  align-items:right;
}


.nav li a{
  background-color:#212529;
  text-decoration:none;
  padding:10px 30px;
  display:block;
}

.link{
  color:white;
}

.nav > li{
  float:left;
}

.nav li a:hover{
  color:grey;
}

.nav li{
  position:relative;
}

.nav li ul{
  display:flex;
  display: none;
  flex-direction:column;
  position:absolute;
  z-index: 100;
}

.nav li ul a{
  width:150%;
}

.nav li:hover > ul{
  display:block;
  display:flex;
}


.link-abierto{
  color:grey;
}

.interesante {
  width: 81.4%;
  height: 400px;
  margin: auto;
  margin-top: 20px;
  display: grid;
  gap: 5px;
  grid-template-columns: 50% 25%;
  grid-template-rows: 50%;
}

.int1,
.int2,
.int3,
.int4 {
  position: relative;
  overflow: hidden;
}

.int1Image,
.int2Image,
.int3Image,
.int4Image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s;
}

.badge {
  font-size: 10px;
  font-weight: normal;
  background-color: black;
  text-decoration: none;
  margin-bottom: 1%;
}

.badge.badgeUltimos:hover{
  background-color:black;
}

.badge:hover{
  background-color:red;
}

.int1 {
  grid-column: 1/2;
  grid-row: 1/4;
}

.int2 {
  grid-column: 2/4;
}

.int3 {
  grid-column: 2/3;
  grid-row: 2/4;
}

.int4 {
  grid-column: 3/4;
  grid-row: 2/4;
}

.textoInt12,
.textoInt34 {
  color: white;
  font-family: "Oswald", sans-serif;
  position: absolute;
  bottom: 0;
  text-decoration: none;
  line-height: 1;
  margin-left: 4%;
  margin-right: 20%;
  margin-bottom: 2%;
}

.textoInt12 {
  font-size: 25px;
}

.textoInt34 {
  font-size: 17px;
}

.int1Image {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url(https://www.ambientum.com/wp-content/uploads/2021/03/energia-eolica-rojiblanca-paisaje-PIXABAY-1.jpg);
}

.int2Image {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url(https://images.unsplash.com/photo-1437482078695-73f5ca6c96e2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
}

.int3Image {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url(https://www.ambientum.com/wp-content/uploads/2021/03/gruas-construccion-PIXABAY.jpg);
}

.int4Image {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url(https://www.ambientum.com/wp-content/uploads/2021/03/madera-biomasa-PIXABAY-1.jpg);
}

.int1Image:hover, .int2Image:hover , .int3Image:hover , .int4Image:hover  {
  transform: scale(1.2);
}



.textoInt12:hover {
  color: white;
}

.textoInt34:hover {
  color: white;
}


.bannerUltimos{
  grid-column:1/-1;
  grid-row:1/2;
}

.bannerUltimos h1{
  font-size:15px;
}

.linea{
  background-color:#212529;
  width:100%;
  height:2px;
}

.generalInicio {
  width: 81.4%;
  margin:auto;
  display:grid;
  gap:30px;
  grid-template-columns: 28% 42% 30%;
  grid-template-rows: 23px repeat(5, 149.33px);
  margin-top:20px;
}

.tituloNoticia{
  text-decoration:none;
  color:black;
  line-height: 1;
}

.noticia1 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.noticia2 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.noticia3 {
  grid-column: 2/3;
  grid-row: 4/5;
}

.noticia4 {
  grid-column: 2/3;
  grid-row: 5/6;
}

.noticia5 {
  grid-column: 2/3;
  grid-row: 6/7;
}

.noticiaimg1 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.noticiaimg2 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.noticiaimg3 {
  grid-column: 1/2;
  grid-row: 4/5;
}

.noticiaimg4 {
  grid-column: 1/2;
  grid-row: 5/6;
}

.noticiaimg5 {
  grid-column: 1/2;
  grid-row: 6/7;
}

.noticia1,
.noticia2,
.noticia3,
.noticia4,
.noticia5 p {
  font-size: 13px;
}


.tituloNoticia:hover{
  color:red;
}


.publicidad {
  width: 100%;
  grid-column: 3/4;
  grid-row: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:orange;
}

.footer{
  width:100%;
  margin-top:50px;
  padding:50px;
  background-color:#212529;
}

.generalNoticia{
  display:grid;
  width:81.4%;
  margin:auto;
  grid-template-columns: 0em 70%;
  grid-template-rows:auto 25em;
  gap:1em;
  margin-top:1.25em;
}

.encabezadoNoticia{
  grid-column:2/4;
  grid-row:1/2;
}

.encabezadoNoticia h1{
  font-family: "Oswald", sans-serif;
}

.imagenNoticia{
  grid-column:2/3;
  grid-row:2/3;
  border:0.625em;
}

.noticia{
  grid-column:2/3;
  grid-row:3/-1;;
}

.publicidadNoticia{
  grid-column:3/4;
  grid-row:2/4;
  background-color:orange;
}

.noticia p{
  font-size:17px;
  text-align:justify;
}

.badgeTipo{
}

.encabezadoNoticia h2{
  font-size:12px;
}


.imgNoticia{
  justify-content:center;
  align-items:center;
}

.imgNoticia img{
  width:100%;
}

.imgNoticia p{
  font-size:15px;
  text-align:center;
}

.tituloTema{
  width:81.4%;
  margin:auto;
  margin-top:20px;
  
}

.generalTemas{
  width:81.4%;
  display:grid;
  grid-template-columns:70%;
  margin:auto;
  margin-top:20px;
}

.spamTemas{
  grid-column:2/3;
  grid-row:1/3;
  background-color:orange;
}

.contenidoNoticia{
  grid-column:1/2;
}

.publiNoticia{
  display:flex;
  margin-bottom:30px;
}

.textoNoticia{
  margin-left:30px;
  margin-right:30px;
}

.textoNoticia p{
  font-size:13px;
}

@media screen and (max-width: 500px) {
  .imagen {
    width: 100%;
    heigth: auto;
  }
  .frase {
    display: none;
  }
  .nav ul li {
    display: flex;
  }
  .navbar-brand {
    display: none;
  }
  .logo {
    width: 100%;
  }
  .barra {
    justify-content: center;
    width: 100%;
  }
  .general {
    width: 100%;
  }
}
