.generalNoticia{
  display:grid;
  width:81.4%;
  margin:auto;
  grid-template-columns: 0em 70%;
  grid-template-rows:auto 25em;
  gap:1em;
  margin-top:1.25em;
}

.encabezadoNoticia{
  grid-column:2/4;
  grid-row:1/2;
}

.encabezadoNoticia h1{
  font-family: "Oswald", sans-serif;
}

.imagenNoticia{
  grid-column:2/3;
  grid-row:2/3;
  border:0.625em;
}

.noticia{
  grid-column:2/3;
  grid-row:3/-1;;
}

.publicidadNoticia{
  grid-column:3/4;
  grid-row:2/4;
  background-color:orange;
}

.noticia p{
  font-size:17px;
  text-align:justify;
}

.badgeTipo{
}

.encabezadoNoticia h2{
  font-size:12px;
}


.imgNoticia{
  justify-content:center;
  align-items:center;
}

.imgNoticia img{
  width:100%;
}

.imgNoticia p{
  font-size:15px;
  text-align:center;
}
